body {
  background: #ebeaf8;
}

.Weather div.card {
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    120deg,
    rgba(224, 195, 252, 0.8) 0%,
    rgba(142, 197, 252, 0.8) 100%
  );
}

.Weather {
  margin: 0 auto 500px;
}

.Weather .search-units{
  margin: 5px auto 15px;
}

.Weather .btn-search, .btn-location,
.btn-units {
  color: #ffffff;
  background: rgba(0, 98, 204, 0.702);
  border: rgba(0, 98, 204, 0.7);
  box-shadow: 3px 3px 5px 1px rgba(0, 86, 179, 0.2);
  transition: all 200ms ease-in-out;
}

.Weather .btn-units:hover, .btn-location:hover,
.btn-search:hover {
  color: #0062cc;
  background: #ffffff;
}

.Weather .celsius{
  margin: 0 15px 0 10px;
}

.Weather .celsius, .fahrenheit{
  width: 50px;
}



.Weather h1,
.current-temp {
  font-size: 38px;
  font-weight: bolder;
}

.Weather h1,
.last-uptdated,
.current-date,
.time,
.current-temp,
.current-description,
.real-feel,
.sentence,
.week-days,
.forecast-description,
.min-max-temp {
  color: rgb(0, 0, 0);
  text-align: center;
}

.Weather .last-uptdated,
.current-date,
.time {
  margin: 0 auto;
}

.Weather .current-temp,
.current-description {
  margin: 20px auto 0;
}

.Weather img {
  display: block;
  margin: 0 auto;
}

.Weather .active {
  font-weight: 600;
}


.Weather .illustration {
  max-width: 100%;
  margin: 60px auto 40px;
}

.Weather .current-description,
.forecast-description:first-letter {
  text-transform: capitalize;
}

.Weather .info {
  text-align: center;
  margin: 50px auto;
}

.Weather .local-info {
  margin: 0 auto 30px;
}

.Weather .humidity-data {
  margin: 0 8px 0 0;
}

.Weather .specifics-info,
.week-days {
  font-weight: 600;
  font-size: 20px;
}

.Weather hr{
  background: #ffffff79;
  height: 2px; 
}

.Weather .current-description,
.real-feel,
.sentence {
  font-size: 20px;
}

.Weather .sentence,
.real-feel {
  margin: 20px auto 30px;
}

.Weather .max-temp,
.degree-sign-max {
  color: #ec6e4c;
}

.Weather .min-temp,
.degree-sign-min {
  color: #0062cc;
}

.Weather .open-source-link,
.max-temp,
.degree-sign-max {
  font-weight: 600;
}

.Weather .code-by {
  color: #0062cc;
}

.Weather .humidity {
  margin: 0 100px 10px 0;
}
.Weather .sunrise {
  margin: 0 100px 10px 0;
}
.Weather .wind {
  margin: 0 0 10px 100px;
}
.Weather .sunset {
  margin: 0 0 10px 100px;
}
