body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.Weather .card {
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    120deg,
    rgba(224, 195, 252, 0.8) 0%,
    rgba(142, 197, 252, 0.8) 100%
  );
}

.Weather .search-form{
  margin: 0 0 10px 10px;
}

.Weather .btn-search,
.Weather .btn-location{
  color: #ffffff;
  background: #56A0EE;
  border: #56A0EE;
  margin: 0 8px 8px;
  width: 39px;
  box-shadow: 3px 3px 5px 1px rgba(0, 86, 179, 0.2);
  transition: all 200ms ease-in-out;
}

.Weather .btn-search:hover,
.Weather .btn-location:hover {
  color: #0974e6;
  background: #ffffff;
}

.Weather hr{
  background: #ffffff79;
  height: 2px; 
  margin: 20px auto;
}